doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src='/javascripts/sockjs-0.3.4.js')
    script(src='/javascripts/stompjs/lib/stomp.js')
    script(src='/javascripts/app.js')
